@import "colors-js";

/* Base Style */
.highlight pre {


}
/* Punctuation */
.highlight .p {
  color: #0b1821;

}
/* Error */
.highlight .err {


}
/* Base Style */
.highlight .n {
  color: $vibrant-light;

}
/* Name Attribute */
.highlight .na {
  color: $vibrant-light;

}
/* Name Builtin */
.highlight .nb {
  color: $vibrant-light;

}
/* Name Class */
.highlight .nc {
  color: $vibrant-light;

}
/* Name Constant */
.highlight .no {
  color: $vibrant;

}
/* Name Decorator */
.highlight .nd {
  color: $vibrant-light;

}
/* Name Entity */
.highlight .ni {
  color: $vibrant-light;

}
/* Name Exception */
.highlight .ne {
  color: $vibrant-light;

}
/* Name Function */
.highlight .nf {
  color: $vibrant-light;

}
/* Name Label */
.highlight .nl {
  color: $vibrant-light;

}
/* Name Namespace */
.highlight .nn {
  color: $vibrant-light;

}
/* Name Other */
.highlight .nx {
  color: $muted-light;

}
/* Name Property */
.highlight .py {
  color: $vibrant-light;

}
/* Name Tag */
.highlight .nt {
  color: $vibrant-light;

}
/* Name Variable */
.highlight .nv {


}
/* Name Variable Class */
.highlight .vc {
  color: $vibrant-light;

}
/* Name Variable Global */
.highlight .vg {
  color: $vibrant-light;

}
/* Name Variable Instance */
.highlight .vi {
  color: $vibrant-light;

}
/* Name Builtin Pseudo */
.highlight .bp {
  color: $vibrant-light;

}
/* Base Style */
.highlight .g {


}
/*  */
.highlight .gd {


}
/* Base Style */
.highlight .o {


}
/* Operator Word */
.highlight .ow {


}
/* Base Style */
.highlight .c {


}
/* Comment Multiline */
.highlight .cm {


}
/* Comment Preproc */
.highlight .cp {


}
/* Comment Single */
.highlight .c1 {
  color: #b8b8b8;

}
/* Comment Special */
.highlight .cs {


}
/* Base Style */
.highlight .k {


}
/* Keyword Constant */
.highlight .kc {
  color: #000000;

}
/* Keyword Declaration */
.highlight .kd {


}
/* Keyword Namespace */
.highlight .kn {


}
/* Keyword Pseudo */
.highlight .kp {


}
/* Keyword Reserved */
.highlight .kr {


}
/* Keyword Type */
.highlight .kt {


}
/* Base Style */
.highlight .l {


}
/* Literal Date */
.highlight .ld {


}
/* Literal Number */
.highlight .m {


}
/* Literal Number Float */
.highlight .mf {


}
/* Literal Number Hex */
.highlight .mh {


}
/* Literal Number Integer */
.highlight .mi {


}
/* Literal Number Oct */
.highlight .mo {


}
/* Literal Number Integer Long */
.highlight .il {


}
/* Literal String */
.highlight .s {
  color: $muted;

}
/* Literal String Backtick */
.highlight .sb {
  color: $muted;


}
/* Literal String Char */
.highlight .sc {
  color: $muted;


}
/* Literal String Doc */
.highlight .sd {

  color: $muted;

}
/* Literal String Double */
.highlight .s2 {

  color: $muted;

}
/* Literal String Escape */
.highlight .se {
  color: $muted;


}
/* Literal String Heredoc */
.highlight .sh {
  color: $muted;


}
/* Literal String Interpol */
.highlight .si {


}
/* Literal String Other */
.highlight .sx {
  color: $muted;


}
/* Literal String Regex */
.highlight .sr {
  color: $muted;


}
/* Literal String Single */
.highlight .s1 {

  color: $muted;

}
/* Literal String Symbol */
.highlight .ss {
  color: $muted;


}
/* Base Style */
.highlight .g {


}
/* Generic Deleted */
.highlight .gd {


}
/* Generic Emph */
.highlight .ge {


}
/* Generic Error */
.highlight .gr {


}
/* Generic Heading */
.highlight .gh {


}
/* Generic Inserted */
.highlight .gi {


}
/* Generic Output */
.highlight .go {


}
/* Generic Prompt */
.highlight .gp {


}
/* Generic Strong */
.highlight .gs {


}
/* Generic Subheading */
.highlight .gu {


}
/* Generic Traceback */
.highlight .gt {


}
/* Other */
.highlight .x {


}
/* Text Whitespace */
.highlight .w {


}
